.quantity_input {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 16px;
}

.quantity_input_button {
    width: 35px;
    height: 35px;
    font-size: 25px;
    background-color: #FF8848;
    color: #FFF;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.quantity_input_button:disabled {
    opacity: 0.3;
    cursor: pointer;
}

.quantity_input_count {
    margin: 0 40px;
    text-align: center;
}